# Database
DATABASE_URL=postgresql://user:password@eos-postgres:5432/eos

# S3
EOS_S3_BUCKET=eos
EOS_S3_ENDPOINT_URL=http://eos-seaweedfs:8333
EOS_S3_ACCESS_KEY_ID=user
EOS_S3_SECRET_ACCESS_KEY=password

# Orchestrator API
ORCHESTRATOR_API_URL=http://host.docker.internal:8070/api

# EOS user directory
USER_DIR=/home/farobotlab/eos/user

# Application
NODE_ENV=production
NEXT_PUBLIC_APP_URL=http://0.0.0.0:3000