# Database
DATABASE_URL=postgresql://user:password@localhost:5432/eos

# Orchestrator API
ORCHESTRATOR_API_URL=http://localhost:8070/api

# EOS user directory
USER_DIR=/path/to/user/directory

# S3
EOS_S3_BUCKET=eos
EOS_S3_ENDPOINT_URL=http://localhost:8333
EOS_S3_ACCESS_KEY_ID=user
EOS_S3_SECRET_ACCESS_KEY=password

# Web UI
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
